<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net48" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net48" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net48" />
  <package id="IronXL.Excel" version="2022.3.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net48" />
</packages>